<div class='reminder-background'></div>
<div class='remindertitle'>
  <h1 style='text-align:center;color:white'> All Reminders </h1>
  <h3 class="notification_type">Get Notifications by: </h3>
  <% @types.each do |type| %>
    <% if @type == type %>
      <div class="reminder_choices selected_platform" id=<%=type%> ><%= type%></div>
    <% else %>
     <div class="reminder_choices" id=<%=type%>><%= type%></div>
     <% end %>
  <% end %>
</div>
<ul id='reminder-margin'>
  <% @reminders.each do |reminder| %>
    <% if current_user.contacts.where(id:reminder.contact_id).first != nil %>
    <div class='reminderbox' data-identifier='contact_id-<%= reminder.contact_id %>'>
      <div id='<%= reminder.reminder_type %>'></div>
      <li id='reminder-days'> <%= reminder.time_since_last_contact %> days </li>
      <li id='reminder-text'> Since you last contacted <%= current_user.contacts.where(id:reminder.contact_id).first["name"] %>
      <!-- <li>Reminder From: <%= current_user.contacts.where(id:reminder.contact_id).first["name"] %></li>
      <li>It's been <%= reminder.time_since_last_contact %> since your last contact</li>
      <li>Your reminder is <strong><%= reminder.reminder_type %></strong></li><br /> -->
    </div>
    <% end %>
  <% end %>
</ul>

<!--  double ajax, borken terminal, slow loads-->
