<div class='reminder-background'></div>
<div class='remindertitle'>
  <h1> REMINDER INDEX PAGE </h1>
  <h3 class="notification_type">Get Notifications by: </h3>
  <% @types.each do |type| %>
    <% if @type == type %>
      <div class="selected_platform"><%= type%></div>
    <% else %>
     <div><%= type%></div>
     <% end %>
  <% end %>
</div>
<ul>
  <% @reminders.each do |reminder| %>
    <% if current_user.contacts.where(id:reminder.contact_id).first != nil %>
    <div class='reminderbox'>
      <div id='<%= reminder.reminder_type %>'></div>
      <br>
      <li>Reminder From: <%= current_user.contacts.where(id:reminder.contact_id).first["name"] %></li>
      <li>It's been <%= reminder.time_since_last_contact %> since your last contact</li>
      <li>Your reminder is <strong><%= reminder.reminder_type %></strong></li><br />
    </div>
    <% end %>
  <% end %>
  </ul>
</div>
