<div class="edit-modal">
  <div class="add-contact">
    <%= form_for @contact do |f| %>
      <button type="button" class="close">x</button>
      <div class="add-new-contact-div">
        <h3 class="add-new-contact-heading">Edit Contact</h3>
        <h4 class='add-new-contact-heading-error'></h4>
      </div>
      Name  <br><%= f.text_field :name, class: 'field'%><br>
      Phone <br><%= f.text_field :phone,  class: 'field' %><br>
      Email <br><%= f.email_field :email, class: 'field' %><br>
      Category <br><%= f.select :category, ['friend', 'family', 'business', 'other'] %><br>
      Twitter Username <br><%= f.text_field :twitter_username, class: 'field' %><br>
      <%= f.submit "Update Contact", class: 'modal-submit'%>
    <% end %>
  </div>
</div>


<div class="modal">
  <div class="add-contact">
    <%= form_for @contact do |f| %>
      <button type="button" class="close">x</button>
      <div class="add-new-contact-div">
        <h3 class="add-new-contact-heading">Add a New Contact</h3>
      </div>
      Name<br>
       <%= f.text_field :name, class: 'field'%><br>
      Phone<br>
      <%= f.text_field :phone,  class: 'field' %><br>
      Email<br>
       <%= f.email_field :email, class: 'field' %><br>
      Category<br>
       <%= f.select :category, ['friend', 'family', 'business', 'other'] %><br>
      Twitter Username <br>
       <%= f.text_field :twitter_username, class: 'field' %><br>
      <%= f.submit "Add Contact", class: 'modal-submit'%>
    <% end %>
  </div>
</div>

<div class='container viewport'>

    <div class="user-information user-information-edit">
      <h4 class="margin-24-heading sixteen-font account-heading">Account Information</h4>
      <div class="text-block">

        <% if current_user %>
        <% @user = current_user %>
            <%= form_for @user do |f| %>
              Name <br>
              <%= f.text_field :name%><br>
              Phone<br>
              <%= f.text_field :phone %><br>
              Email<br>
               <%= f.email_field :email%><br>
              Password<br>
               <%= f.password_field :password %><br>
              <%= f.submit "Update", id:'ghost-update-button'%>
            <% end %>
        <% end %>

      </div>

      <div class="divider-user-page"></div>

      <h4 class="margin-24-heading white sixteen-font">Get Reminders via:</h4>
        <div class="text-block">
          <% if current_user %>
          <% @user = current_user %>
              <%= form_for @user do |f| %>
              <%= f.select :reminder_platform, ['Twitter','Text','Email'], :selected => @user.reminder_platform %>
                <%= f.submit "Update", id:'ghost-update-button'%>
              <% end %>
          <% end %>
        </div>

      <div class="divider-user-page"></div>

        <h4 class="margin-24-heading white sixteen-font">Autoreply Message</h4>
        <div class="text-block">
          <%= form_tag "/", id:"autoreply_message" do %>
          <%= text_area_tag :autoreply_message%><br>
            <%= submit_tag "Update", id:"ghost-update-button" %>
          <% end%>
        </div>
    </div>

    <div class="all-contacts-div-user-page all-contacts-div-user-page-edit ">
      <h4 class="text-center all-contacts-heading margin-24-heading">All Contacts</h4>
        <%= link_to root_path do%>
          <div class="add-contact-button">
            <%= image_tag "ic_person_add_person_blue.svg", class: "add-contact-icon"  %>
            <h4 class="fourteen-font add-contact-link edit-link">Add Contact</h4>
          </div>
      <% end %>
      <div class="divider-contacts"></div>


      <div class="filter-contacts-drop-down-div">
      <%= form_tag "/", id:"filter-contacts-form" do %>
      <select>
          <option value="all">All Contacts</option>
          <option value="friend">Friend</option>
          <option value="business">Business</option>
          <option value="family">Family</option>
      </select><br>
      <% end%>
      </div>

      <div class="search-contacts-bar-div">
        <%= form_tag(user_path(current_user), method: 'get', id:"search-for-contact") do%>
        <%= text_field_tag :search, params[:search], placeholder: "Search contacts", class:'search-contacts-user-page'%>
        <% end %>
      </div>

      <div class="all-contacts-scroll-div all-contacts-scroll-div-edit">
        <% @contacts.each do |contact| %>
        <% randnum = rand(4) %>
          <div class="contact-cards-user-page">
            <div class="contact-profile-picture<%= randnum %>"></div>
            <div class="contact-card-information">
              <h4 class="twenty-font not-link"><%= contact.name %></h4>
              <h6 class="sixteen-font not-link"><%= contact.category %></h6>
              <h6 class="sixteen-font not-link"><%= contact.email %></h6>
              <h6 class="sixteen-font not-link"><%= contact.twitter_username %></h6>
              <%= link_to '(Delete Contact)', "/contacts/" + contact.id.to_s, method: :delete, data: {confirm: "Are you sure you want to delete " + contact.name}, class: 'edit-link'%>
            </div>
          </div>
        <% end %>
      </div>

    </div>

</div>
