<%= form_for @user do |f| %>
  <div class='field-signup'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='field-signup'>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class='field-signup'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class='field-signup'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='field-signup'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class='submit_button_signup'><%= f.submit %></div>
<% end %>
