<div class="modal">
  <div class="add-contact">
    <%= form_for @contact do |f| %>
      <button type="button" class="close">x</button>
      <div class="add-new-contact-div">
        <h3 class="add-new-contact-heading">Add a New Contact</h3>
      </div>
      Name<br>
       <%= f.text_field :name, class: 'field'%><br>
      Phone<br>
      <%= f.text_field :phone,  class: 'field' %><br>
      Email<br>
       <%= f.email_field :email, class: 'field' %><br>
      Category<br>
       <%= f.select :category, ['friend', 'family', 'business', 'other'] %><br>
      Twitter Username <br>
       <%= f.text_field :twitter_username, class: 'field' %><br>
      <%= f.submit "Add Contact", class: 'modal-submit'%>
    <% end %>
  </div>
</div>

<div class='container viewport'>

    <div class="col-sm-5 user-information">
      <p class="margin-24-heading account-heading">My Account</p>
      <%= link_to "(Edit)", edit_user_path(current_user), class:'sixteen-font edit-link edit-user' %>
      <div class="text-block">
        <h4 class="seventeen-font"><%= @user.name %></h4>
        <h4 class="seventeen-font"><%= @user.email %></h4>
        <h4 class="seventeen-font"><%= @user.phone %></h4>
        <%= link_to "Change Password", edit_user_path(current_user), class:'sixteen-font edit-link'  %>
      </div>

      <div class="divider-user-page"></div>

      <h4 class="margin-24-heading eighteen-font">Get Reminders Via:</h4>
        <div class="text-block">
          <%= form_tag "/", id:"reminder_settings_form" do %>
          <select class="select-settings">
              <option value="email">Email</option>
              <option value="twitter">Twitter</option>
              <option value="text">Text</option>
          </select><br>
            <%= submit_tag "Update", id:"ghost-update-button" %>
          <% end%>
        </div>

      <div class="divider-user-page"></div>

        <h4 class="margin-24-heading eighteen-font">Autoreply Message</h4>
        <div class="text-block">
          <%= form_tag "/", id:"autoreply_settings_form" do %>
          <%= text_area_tag :autoreply_message%><br>
            <%= submit_tag "Update", id:"ghost-update-button" %>
          <% end%>
        </div>
    </div>

    <div class="col-sm-7 all-contacts-div-user-page">
      <p class="text-center all-contacts-heading">All Contacts</p>
        <%= link_to root_path do%>
          <div class="add-contact-button">
            <%= image_tag "ic_person_add_person_blue.svg", class: "add-contact-icon"  %>
            <h4 class="fourteen-font add-contact-link edit-link">Add Contact</h4>
          </div>
      <% end %>
      <div class="divider-contacts"></div>


      <div class="filter-contacts-drop-down-div">
      <%= form_tag "/", id:"filter-contacts-form" do %>
      <select class="fourteen-font">
          <option value="all">All Contacts</option>
          <option value="friend">Friend</option>
          <option value="business">Business</option>
          <option value="family">Family</option>
      </select><br>
      <% end%>
      </div>

      <div class="search-contacts-bar-div">
        <%= form_tag contacts_path,id:"search_contact" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search contacts", class:'search-contacts-user-page'%>
        <% end %>
      </div>

      <div class="all-contacts-scroll-div">
        <% @contacts.each do |contact| %>
          <div class="contact-cards-user-page">
            <div class="contact-profile-picture"></div>
            <div class="contact-card-information">
              <p class="twenty-font"><%= contact.name %></p>
              <p class="fifteen-font"><%= contact.category %></p>
              <p class="fifteen-font"><%= contact.email %></p>
              <p class="fifteen-font"><%= contact.twitter_username %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>

</div>
