<div class='container viewport'>
  <div class="row">
    <div class="col-sm-5 user-information">
      <h4 class="margin-24-heading sixteen-font account-heading">Account Information</h4>
      <%= link_to "(Edit)", edit_user_path(current_user), class:'sixteen-font edit-link edit-user' %>
      <div class="text-block">
        <h4 class="sixteen-font"><%= @user.name %></h4>
        <h4 class="sixteen-font"><%= @user.email %></h4>
        <h4 class="sixteen-font"><%= @user.phone %></h4>
        <%= link_to "Change Password", edit_user_path(current_user), class:'sixteen-font edit-link'  %>
      </div>

      <div class="divider-user-page"></div>

      <h4 class="margin-24-heading  sixteen-font">Get Reminders via:</h4>
        <div class="text-block">
          <%= form_tag "/", id:"reminder_settings_form" do %>
          <select>
              <option value="email">Email</option>
              <option value="twitter">Twitter</option>
              <option value="text">Text</option>
          </select><br>
            <%= submit_tag "Update", id:"ghost-update-button" %>
          <% end%>
        </div>

      <div class="divider-user-page"></div>

        <h4 class="margin-24-heading sixteen-font">Autoreply Message</h4>
        <div class="text-block">
          <%= form_tag "/", id:"autoreply_settings_form" do %>
          <%= text_area_tag :autoreply_message%><br>
            <%= submit_tag "Update", id:"ghost-update-button" %>
          <% end%>
        </div>
    </div>

    <div class="col-sm-7 all-contacts-div-user-page">
      <h4 class="text-center all-contacts-heading margin-24-heading">All Contacts</h4>
        <%= link_to root_path do%>
          <div class="add-contact-button">
            <%= image_tag "ic_person_add_person_blue.svg", class: "add-contact-icon"  %>
            <h4 class="fourteen-font add-contact-link edit-link">Add Contact</h4>
          </div>
      <% end %>
      <div class="divider-contacts"></div>


      <div class="filter-contacts-drop-down-div">
      <%= form_tag "/", id:"filter-contacts-form" do %>
      <select>
          <option value="all">All Contacts</option>
          <option value="friend">Friend</option>
          <option value="business">Business</option>
          <option value="family">Family</option>
      </select><br>
      <% end%>
      </div>

      <div class="search-contacts-bar-div">
        <%= form_tag contacts_path,id:"search_contact" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search contacts", class:'search-contacts-user-page'%>
        <% end %>
      </div>

      <div class="all-contacts-scroll-div">
        <% @contacts.each do |contact| %>
          <div class="contact-cards-user-page">
            <div class="contact-profile-picture"></div>
            <div class="contact-card-information">
              <h4 class="twenty-font"><%= contact.name %></h4>
              <h6 class="sixteen-font"><%= contact.category %></h6>
              <h6 class="sixteen-font"><%= contact.email %></h6>
              <h6 class="sixteen-font"><%= contact.twitter_username %></h6>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
