<% content_for :head do %>
  <script type="text/javascript">
    <%= render partial: "show.js" %>
  </script>
<% end %>

<div class="edit-modal">
  <div class="add-contact">

    <%= form_for @contact, remote: true, html: {id:"edit_contact"} do |f| %>
      <button type="button" class="close">x</button>
      <div class="add-new-contact-div">
        <h3 class="add-new-contact-heading">Edit Contact</h3>
        <h4 class='add-new-contact-heading-error'></h4>
      </div>
      Name:  <br><%= f.text_field :name, class: 'field', id: 'contact-name'%><br>
      Phone: <br><%= f.text_field :phone,  class: 'field', id: 'contact-phone' %><br>
      Email: <br><%= f.email_field :email, class: 'field', id: 'contact-email' %><br>
      Category: <br><%= f.select :category, [['Friend','friend'],["Family","family"],["Business",'business']], id: 'contact-category'%><br>
      Twitter Username: <br><%= f.text_field :twitter_username, class: 'field' , id: 'contact-twitter'%><br>
      <%= f.submit "Update Contact", class: 'modal-submit'%>
    <% end %>
  </div>
</div>


<div class="modal">
  <div class="add-contact">
    <%= form_for @contact, remote:true do |f| %>
      <button type="button" class="close">x</button>
      <div class="add-new-contact-div">
        <h3 class="add-new-contact-heading">Add a New Contact</h3>
      </div>
      Name<br>
       <%= f.text_field :name, class: 'field'%><br>
      Phone<br>
      <%= f.text_field :phone,  class: 'field' %><br>
      Email<br>
       <%= f.email_field :email, class: 'field' %><br>
      Category<br>
       <%= f.select :category, [["Friend","friend"], ["Family","family"], ["Business","business"],["Other",'other']] %><br>
      Twitter Username <br>
       <%= f.text_field :twitter_username, class: 'field' %><br>
      <%= f.submit "Add Contact", class: 'modal-submit'%>
    <% end %>
  </div>
</div>

<div class='container viewport'>

    <div class="user-information user-information-edit">
      <h4 class="margin-24-heading sixteen-font account-heading">Account Information</h4>
      <div class="text-block">


            <%= form_for @user, remote: true do |f| %>
              Name <br>
              <%= f.text_field :name%><br>
              Phone<br>
              <%= f.text_field :phone%><br>
              Email<br>
               <%= f.email_field :email%><br>
              Password<br>
               <%= f.password_field :password %><br>
               <!-- Pssword Confirmation <br>
               <%#= f.password_field :password_confirmation %><br> -->

              <%= f.submit "Update", id:'ghost-update-button'%>
            <% end %>

      </div>

      <div class="divider-user-page"></div>

      <h4 class="margin-24-heading white sixteen-font">Get Reminders via:</h4>
        <div class="text-block">

              <%= form_for @user, remote: true, url: users_notifications_path, method: "put" do |f| %>
              <%= f.select :reminder_platform, ['Twitter','Text','Email'], :selected => @user.reminder_platform %>
                <%= f.submit "Update", id:'ghost-update-button'%>
              <% end %>
        </div>

      <div class="divider-user-page"></div>

        <h4 class="margin-24-heading white sixteen-font">Autoreply Message</h4>
        <div class="text-block">
          <%= form_tag "/users/autoreply", id:"autoreply_message", method:"put", remote: true do %>
          <%= text_area_tag :autoreply_message, nil, placeholder:@user.automated_message, id: "autoreply_message_textarea"%><br>
            <%= submit_tag "Update", id:"ghost-update-button" %>
          <% end%>
        </div>
    </div>

    <div class="all-contacts-div-user-page all-contacts-div-user-page-edit ">
      <h4 class="text-center all-contacts-heading margin-24-heading">All Contacts</h4>
      <div class="add-contact-button">
        <%= image_tag "ic_person_add_person_blue.svg", class: "add-contact-icon"  %>
        <h4 class="fourteen-font add-contact-link edit-link">Add Contact</h4>
      </div>
      <div class="divider-contacts"></div>


      <div class="filter-contacts-drop-down-div">
      <%= form_tag "/", id:"filter-contacts-form" do %>
      <select>
          <option value="all">All Contacts</option>
          <option value="friend">Friend</option>
          <option value="business">Business</option>
          <option value="family">Family</option>
      </select><br>
      <% end%>
      </div>

      <div class="search-contacts-bar-div">
        <%= form_tag(user_path(current_user), method: 'get', id:"search-for-contact") do%>
        <%= text_field_tag :search, params[:search], placeholder: "Search contacts", class:'search-contacts-user-page'%>
        <% end %>
      </div>

      <div class="all-contacts-scroll-div">
      </div>
    </div>
</div>
