<h1>THIS IS A FEED PAGE</h1>

<%= link_to "All Contacts Page", contacts_url %><br>

<%= link_to "User Profile", user_path(@contacts.first.user) %><br>
<%= link_to "Add a Contact", new_contact_url %><br>
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), remote: true do %>
  <div id=contact_id-<%=contact.id%> >
      <p><%= contact.name %></p>
  </div>
  <% end %>
<% end %>

</ul>
<br><br><br><br>
<form id='send_email'>

  To:<br>
  <input type='email' name='contact email' id='email_field'><br>
  Subject:<br>
  <input type='text' name='subject' id='subject_field'><br>
  Body:<br>
  <input type='text' name='body' id='body_field'><br>
  <input type='submit' value='submit'>
<form>
