<h1>THIS IS A FEED PAGE</h1>

<%= link_to "All Contacts Page", contacts_url %><br>

<%= link_to "User Profile", user_path(@contacts.first.user) %><br>
<%= link_to "Add a Contact", new_contact_url %><br>
<h1>All Contacts </h1>
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), remote: true do %>
  <div id=contact_id-<%=contact.id%> >
      <p><%= contact.name %></p>
  </div>
  <% end %>
<% end %>

</ul>
<br>

<%= form_tag "/", id:"send_email" do %>
<% # no idea why there are [] after name %>
  <%= hidden_field_tag "receiver", @contacts.first.email, id:"email_field"%>
  <%= label_tag "subject", "Subject:" %><br>
  <%= text_field_tag "subject", nil, id:"subject_field" %><br>

  <%= label_tag "body", "Body:" %><br>
  <%= text_area_tag "body", nil, id:"body_field" %><br>

  <%= submit_tag("Send!") %>

<% end %>

<br>
<div id="contact_name"><%=@contacts.first.name%></div>

<h1>Past Messages</h1>
<div id="messages">

  <ul>
    <%  @contacts.first.messages.each do |m| %>
      <li><%=m.summary%></li>
    <% end %>
  </ul>
</div>


<div id="contact_details">
  <%= render partial: "/contacts/details", locals:{contact:@contacts.first} %>
</div>
<br><br>

<div id="add_field_form">
  <h1>Add Field</h1>
  <%= form_tag "/", id:"update_contact" do %>
    <%= hidden_field_tag "contact", @contacts.first.id, id:"contact_id" %>
    <%= label_tag "field", "Field:" %><br>
    <div id="contact_field"><%= select_tag "field", options_for_select(@contacts.first.generate_selectors)%></div>
    <%= label_tag "information", "Information:" %><br>
    <%= text_field_tag "information:",nil, id:"contact_new_info" %><br>
    <%= submit_tag("Update") %>
  <% end%>
</div>
