<h1>THIS IS A FEED PAGE</h1>

<%= link_to "All Contacts Page", contacts_url %><br>

<%= link_to "User Profile", user_path(@contacts.first.user) %><br>
<%= link_to "Add a Contact", new_contact_url %><br>
<h1>All Contacts </h1>
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), remote: true do %>
  <div id=contact_id-<%=contact.id%> >
      <p><%= contact.name %></p>
  </div>
  <% end %>
<% end %>

</ul>
<br><br><br><br>

<%= form_tag "/", id:"send_email" do %>
<% # no idea why there are [] after name %>
  <%= hidden_field_tag "receiver", @contacts.first.email, id:"email_field"%>
  <%= label_tag "subject", "Subject:" %><br>
  <%= text_field_tag "subject", nil, id:"subject_field" %><br>

  <%= label_tag "body", "Body:" %><br>
  <%= text_area_tag "body", nil, id:"body_field" %><br>

  <%= submit_tag("Send!") %>

<% end %>
<br>
<div id="contact_name"><%=@contacts.first.name%></div>
<div id="upper_middle_container">
  <h1>Past Messages</h1>
  <div id="messages">

    <ul>
      <%  @contacts.first.messages.each do |m| %>
        <li><%=m.summary%></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="top_right_container">
  <div id="contact_details">
    <%= render partial: "/contacts/details", locals:{contact:@contacts.first} %>
  </div>
</div>
