<!-- Section 1: Navigation Bar (see: application.html.erb & landingpage.scss)  -->

<!-- Section 2: Modal - Form for adding contacts (via 'add contact' icon at top left of page)-->

<div class="modal">
  <div class="add-contact">
    <%= form_for @contact do |f| %>
      <button type="button" class="close">x</button>
      <div class="add-new-contact-div">
        <h3 class="add-new-contact-heading">Add a New Contact</h3>
      </div>
      Name:  <%= f.text_field :name, class: 'field'%><br>
      Phone: <%= f.text_field :phone,  class: 'phoneField' %> - <%= f.text_field :phone,  class: 'phoneField2' %> - <%= f.text_field :phone,  class: 'phoneField3' %><br>
      Email: <%= f.email_field :email, class: 'eField' %>
      Category: <%= f.text_field :category, class: 'catField' %>
      Twitter Username: <%= f.text_field :twitter_username, class: 'twitField2' %><br>
      <%= f.submit "Add Contact", class: 'modal-submit'%>
    <% end %>
  </div>
</div>


<!-- 'main-container' contains everything on the page except the navigation bar at the top of the page -->
<div class="main-container">
  <div class="main-container-heading">
    <div class="searchbar-with-icons-div">
      <div class="filter-icon">
        <%= image_tag "filter.png" %>
      </div>
      <div class="search-contacts-bar">
        <%= form_tag contacts_path,id:"search_contact" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search contacts", class: 'search-bar-field'%>
        <% end %>
      </div>
      <div class="add-icon">
        <%= image_tag "add-contact.png" %>
      </div>
    </div>
    <div class="contact-name-heading">
      <p class="messages-heading">Messages</p> <
      <!-- <h3 id="main-name"></h3> -->
    </div>
  </div>
<!-- Section 3: List of All Contacts (left 25% of the page)  -->
  <div class="contacts-container">

<!-- 'List of Contacts/Messages' div -->
  <div id='load_contact_box'>
      <div class="contacts-messages">
      </div>
    </div>
</div>
<!-- The last </div> directly above corresponds to the 'contacts container' div at the start of Section 3 -->


<!-- 'contact-info-updating-container' contains everything to the right of the 'List of All Contacts' div  -->
<!-- 'contact-info-updating-container' contains the right 75% of the page -->

<!-- Section 4: All messages received from individual contact (middle 50% of page) -->
  <div class="contact-info-updating-container">
    <div class="messages">
      <div id="message-content">
      <% #Messages of contact you click on %>
      </div>
        <!-- send direct message via twitter  -->
      <div class="twitter-and-email-container">
        <div class="twitter-messaging-div">
          <div class="send-direct-message">
            <%= form_tag "/", id:"send-direct-message" do %>
              <%#=hidden_field_tag "receiver-twitter-dm", nil, id:"twitter_id_field"%>
              <%#= label_tag "username", "Username:" %>
              <%#= text_area_tag "username", nil, id:"username" %>
              <%= hidden_field_tag "receiver-twitter-user", nil, id:"twitter-user-field"%>
              <%= label_tag "direct_message", "Direct Message:", class:"message-label" %><br>
              <%= text_area_tag "direct_message", nil, class:"twitter_field" %><%= submit_tag("Send!") %>
            <% end %>
          </div>

          <div class="send-tweet">
          <%= form_tag '/', id:'send-tweet' do %>
          <%= label_tag "tweet_message", "Tweet:", class:"message-label" %><br>
          <%= text_area_tag "tweet_message", nil, class:"twitter_field" %><%= submit_tag("Send!") %>
          <% end %>
          </div>
        </div>
        <!-- send email  -->
        <div class="send-message-div">
          <%= form_tag "/", id:"send_email" do %>
            <%= hidden_field_tag "receiver", nil, id:"email_field"%>
            <%= label_tag "subject", "Subject:" %><br>
            <%= text_field_tag "subject", nil, id:"subject_field" %><br>

            <%= label_tag "body", "Body:" %><br>
            <%= text_area_tag "body", nil, id:"body_field" %><br>

            <%= submit_tag("Send!") %>

          <% end %>
        </div>
      </div>
    </div>


<!-- Section 5: All contact information for individual contact (right 25% of page) -->

    <div class="profiles">
      <div id="contact_details">
      </div>
      <div id='newsfeed_reminders'>
        <!-- <% @reminders.each do |reminder| %>
          <% if current_user.contacts.where(id:reminder.contact_id).first != nil %>
          <div class='reminderbox_newsfeed' id='<%= reminder.reminder_type %>'>
            <li>Reminder For: <%= current_user.contacts.where(id:reminder.contact_id).first["name"] %></li>
            <li>is <strong><%= reminder.reminder_type %></strong></li>
          </div>
          <% end %>
        <% end %> -->
        <% i=0 %>
        <% 5.times do %>
          <% if current_user.contacts.where(id:@reminders[i]) != nil && @reminders[i] != nil%>
            <% if current_user.contacts.where(id:@reminders[i].contact_id).first != nil %>
              <div class='reminderbox_newsfeed' id='x<%= @reminders[i].reminder_type %>'>
                <li>Reminder For: <%= current_user.contacts.where(id:@reminders[i].contact_id).first["name"] %></li>
                <li>is <strong><%= @reminders[i].reminder_type %></strong></li>
              </div>
            <% end %>
            <% i += 1 %>
          <% end %>
        <% end %>
      </div>
      <!-- Add attribute form that we are't using at the moment -->
      <!-- <div id="add_field_form">
        <%= form_tag "/", id:"update_contact" do %>
          <%= hidden_field_tag "contact", nil, id:"contact_id" %>
          <%= label_tag "field", "Add Field:", class:'contact_add_field' %><br>
          <div id="contact_field"></div>
          <%= label_tag "information", "Information", class:"contact_add_info" %><br>
          <%= text_field_tag "information",nil %><br>
          <%= submit_tag "Update", id:"update_contact_button" %>
        <% end%>
      </div> -->
    </div>
  </div>
</div>
