<h1>Edit Contact</h1>
<%= link_to "BACK TO FEED", newsfeed_path %>

<% if @contact.errors.any? %>
<ul>
  <% @contact.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @contact do |f| %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class='submit_button'><%= f.submit %></div>
<% end %>
