
<div class="all-contacts-container">


  <div class="individual-contact-edit-area">
    <div class="individual-photo"></div>
    <div class="individual-contact-wrapper">
    <%= form_for(@contact, remote: true) do |f| %>
      <%= f.label :name, class: 'edit-contact-label'%>
      <%= f.text_field :name, class: 'edit-contact-field', id:"edit-contact-name" %><br>
      <%= f.label :phone, class: 'edit-contact-label' %>
      <%= f.text_field :phone, class: 'edit-contact-field', id:"edit-contact-phone" %><br>
      <%= f.label :email, class: 'edit-contact-label' %>
      <%= f.email_field :email, class: 'edit-contact-field', id:"edit-contact-email" %><br>
      <%= f.label :twitter, class: 'edit-contact-label' %>
      <%= f.text_field :email, class: 'edit-contact-field', id:"edit-contact-twitter" %><br>
      <%= f.submit "Update Contact" %>
      <div class="add-field-section">
      <h5 class="add-field-title">Add Field</h5>
      </div>
    <% end %>
    </div>
  </div>

  <div class="all-contacts-list-area">
    <div class="all-contacts-list-area-top-div">
      <h4 class="all-contacts-title">All Contacts</h4>
    </div>

    <div class="contact-types-wrapper">
      <%= link_to contacts_all_path do %><div class="contact-types-all"><h6 class="contact-type-title">All</h6></div><% end %>
      <%= link_to contacts_friends_path do %><div class="contact-types-friends"><h6 class="contact-type-title">Friends</h6></div><% end %>
      <%= link_to contacts_family_path do %><div class="contact-types-family"><h6 class="contact-type-title">Family</h6></div><% end %>
      <%= link_to contacts_business_path do %><div class="contact-types-business"><h6 class="contact-type-title">Business</h6></div><% end %>
    </div>

    <div class="contacts-area">
    </div>
</div>

</div>

<script id="contact-template" type="text/x-handlebars-template">

  <ul>
    {{#objects}}
    <a href="/contacts/{{id}}/edit" data-remote="true" class="each-contact-link" data="{{id}}">
      <div class="contact-page-contact">
        <div class="contact-page-contact-image "></div>
        <div class="contact-page-contact-information">
          <li>{{name}}</li>
          <li>{{phone}}</li>
          <li>{{email}}</li>
        </div>
      </div>
      </a>
    {{/objects}}
  </ul>


  </script>
