<!DOCTYPE html>
<html>
<head>
  <title>Remindr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="nav-bar">
  <h1 class="logo">Remindr</h1>
  <% if current_user %>
    <br>You are currently signed in as <%= current_user.name %> <%= link_to 'View Profile', user_path(current_user), class:"nav-button" %> | <%= link_to "Logout", session_path("this session"), class:"nav-button", :method => :delete %>
  <% else %>
    <br><%= link_to "Log In", new_session_path, class:"nav-button" %>  <%= link_to "Sign Up", new_user_path, class:"nav-button" %>
  <% end %>
</div>

<body>

  <% flash.each do |key, value | %>
    <div id='flash_message'>;<%= value %></div>
  <% end %>
<%= yield %>

</body>
</html>
