<!DOCTYPE html>
<html>
<head>
  <title>Remindr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="nav-bar">
  <%= link_to "Remindr", root_path, class:"logo" %>
    <% if current_user %>
      <!-- <br>Signed in as <%= current_user.name.capitalize %>   -->
      <br><%= link_to "Log Out", session_path("this session"), class:"logoutButton", :method => :delete %>  <%= link_to (image_tag "user.png"), user_path(current_user), class:"nav-icon" %>
    <% else %>
      <%= link_to "Log In", new_session_path, class:"loginButton" %>  <%= link_to "Sign Up", new_user_path, class:"signup" %>
    <% end %>
    <% if current_user %>
      <%= link_to (image_tag "menu.png"), dashboard_path, class: "nav-icon" %>
      <%= image_tag "settings.png", id: "nav-icon" %>
      <!-- <%=link_to (image_tag "settings.png"), edit_user_path(current_user),class: "nav-icon" %> -->
    <% end %>
</div>

<body>

  <!-- <% flash.each do |key, value | %>
    <div id='flash_message'>;<%= value %></div>
  <% end %> -->
<!-- <h1><%= yield :header %></h1> -->
<%= yield %>


</div>
</body>
</html>
