<!DOCTYPE html>
<html>
<head>
  <title>Remindr</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js' %>
  <%= csrf_meta_tags %>
</head>

<div class="nav-bar">
  <%= link_to "Remindr", root_path, class:"logo" %>
    <% if current_user %>
      <!-- <br>Signed in as <%= current_user.name.capitalize %>   -->
      <br><%= link_to "Log Out", session_path("this session"), class:"logoutButton", :method => :delete %>
    <% else %>
      <%= link_to "Log In", new_session_path, class:"loginButton" %>  <%= link_to "Sign Up", new_user_path, class:"signup" %>
    <% end %>
    <% if current_user %>
      <%= link_to (image_tag "notification.png"), reminders_path, class: "nav-icon" %>
      <%= link_to (image_tag "user.png"), user_path(current_user), class: "nav-icon" %>
      <%= link_to (image_tag "allcontacts.png"), contacts_path, class: "nav-icon" %>
      <%= link_to (image_tag "menu.png"), newsfeed_path, class: "nav-icon" %>
      <%= image_tag "settings.png", id: "nav-icon" %>
      <!-- <%=link_to (image_tag "settings.png"), edit_user_path(current_user),class: "nav-icon" %> -->
    <% end %>
</div>

<body>
  <% if current_user %>
  <% @user = current_user %>
  <div class="modal2">
    <div class="updateInfo">
      <%= form_for @user do |f| %>
        <button type="button" class="close">x</button>
        <div class="edit-user-div">
          <h3 class="edit-user-heading">Edit Personal Information</h3>
        </div>
        Name:  <%= f.text_field :name, class: 'field'%><br>
        Phone: <%= f.text_field :phone,  class: 'phoneField' %> - <%= f.text_field :phone,  class: 'phoneField2' %> - <%= f.text_field :phone,  class: 'lastPhoneField' %><br>
        Email: <%= f.email_field :email, class: 'efield' %><br>
        Twitter: <%= f.text_field :email, class: 'twitterfield' %><br>
        <!-- ***Need to update 'twitter' so it doesn't use the :email field*** -->
        <%= f.submit "Update Account", class: 'submit'%>
      <% end %>
    </div>
  </div>
  <% end %>


  <!-- <% flash.each do |key, value | %>
    <div id='flash_message'>;<%= value %></div>
  <% end %> -->
<!-- <h1><%= yield :header %></h1> -->
<%= yield %>


</div>
</body>
</html>
